ol,ul {
	list-style: none;
}

#mainMenu ul {
  background-color:#000000;
  font:Helvetica;
  Font-family:sans-serif;
  font-weight:bold;
  Margin:10px;
  Width:900px;
  Text-align:end;
}

#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #fff;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
}

#mainMenu a:hover {
	color:#FFB612;
}