body {
      Margin:0;
      padding: 0;
      background: #fff;
}

#mainMenu ul {
      list-style: none;
      background: #000000;
      text-align: center;
      padding: 0;
      margin: 0;
}

#mainMenu li {
      font-family: 'Merriweather';
      Font-weight: bold;
      Font-size: 22px;
      line-height: 40px;
      height: 40px;
      border-bottom: 1px solid #888;
}

nav a {
      text-decoration: none;
      color: #fff;
      transition: .3s background-color;
}

@media screen and (min-width: 900px) {
      #mainMenu li {
       Display:inline-block;
       Padding: 10px;
       Margin-right:15px;
    }
     #mainMenu ul {
      overflow: auto;
      width: 100%;
      margin: 0 auto;
      Text-align:right;
    }

     .cards {
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
	grid-gap: 20px;
     }

}

@media screen and (min-width: 600px) {
    .cards {
	content-align: center;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(1, minmax(300px, 1fr));
	grid-gap: 20px;
     }
}

.cards {
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	grid-gap: 20px;
}

.bigcard {
	/* https://learncssgrid.com/#grid-container */
}

.smallcard {
	display: inline-grid;
	grid-template-rows: max-content 150px 1fr;
}

.smallcard h2 {
	text-align: center;
}

.cardimg {
	Object-fit:cover;
	Width: 100%;
	Height: 100%;
}

div a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #FFB612;
}

article {
	background-color: black;
	margin: 25px;
	padding: 10px;
}

img {
	max-width:100%;
}
