body {
      Margin:0;
      padding: 0;
      background: #fff;
}

#mainMenu ul {
      list-style: none;
      background: #000000;
      text-align: center;
      padding: 0;
      margin: 0;
}

#mainMenu li {
      font-family: 'Merriweather';
      Font-weight: bold;
      Font-size: 22px;
      line-height: 40px;
      height: 40px;
      border-bottom: 1px solid #888;
}

nav a {
      text-decoration: none;
      color: #fff;
      transition: .3s background-color;
}

nav a:hover {
      color: #FFB612;
}

@media screen and (min-width: 600px) {
      #mainMenu li {
       Float:right;
       Padding: 10px;
       Margin-right:15px;
    }
     #mainMenu ul {
      overflow: auto;
      width: 100%;
      margin: 0 auto;
    }

}

.cards {
	margin-left: 15%;
	margin-right: 15%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 20px;
}

.bigcard {
	/* https://learncssgrid.com/#grid-container */
}

.smallcard {
	display: grid;
	grid-template-rows: max-content 200px 1fr;
}

.cardimg {
	Object-fit:cover;
	Width: 100%;
	Height: 100%;
}

